In [2]:
import pandas as pd 
import numpy as np

In [34]:
#Read the three files into python as dataframes
file1 = pd.read_csv('file1.csv')
file1.tail(2940)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
1068,GS98873,Arizona,F,Bachelor,323912.47%,16061.0,88.0,1/0/00,Personal Auto,Four-Door Car,633.6
1069,CW49887,California,F,Master,462680.11%,79487.0,114.0,1/0/00,Special Auto,SUV,547.2
1070,MY31220,California,F,College,899704.02%,54230.0,112.0,1/0/00,Personal Auto,Two-Door Car,537.6
1071,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1072,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
4003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
file2 = pd.read_csv('file2.csv')
file2

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount,Policy Type,Vehicle Class
0,GS98873,Arizona,F,Bachelor,323912.47%,16061,88,1/0/00,633.600000,Personal Auto,Four-Door Car
1,CW49887,California,F,Master,462680.11%,79487,114,1/0/00,547.200000,Special Auto,SUV
2,MY31220,California,F,College,899704.02%,54230,112,1/0/00,537.600000,Personal Auto,Two-Door Car
3,UH35128,Oregon,F,College,2580706.30%,71210,214,1/1/00,1027.200000,Personal Auto,Luxury Car
4,WH52799,Arizona,F,College,380812.21%,94903,94,1/0/00,451.200000,Corporate Auto,Two-Door Car
...,...,...,...,...,...,...,...,...,...,...,...
991,HV85198,Arizona,M,Master,847141.75%,63513,70,1/0/00,185.667213,Personal Auto,Four-Door Car
992,BS91566,Arizona,F,College,543121.91%,58161,68,1/0/00,140.747286,Corporate Auto,Four-Door Car
993,IL40123,Nevada,F,College,568964.41%,83640,70,1/0/00,471.050488,Corporate Auto,Two-Door Car
994,MY32149,California,F,Master,368672.38%,0,96,1/0/00,28.460568,Personal Auto,Two-Door Car
995,SA91515,California,M,Bachelor,399258.39%,0,111,1/0/00,700.349052,Personal Auto,SUV

In [5]:
file3 = pd.read_csv('file3.csv')
file3

,Customer,State,Customer Lifetime Value,Education,Gender,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Total Claim Amount,Vehicle Class
0,SA25987,Washington,3479.137523,High School or Below,M,0,104,0,Personal Auto,499.200000,Two-Door Car
1,TB86706,Arizona,2502.637401,Master,M,0,66,0,Personal Auto,3.468912,Two-Door Car
2,ZL73902,Nevada,3265.156348,Bachelor,F,25820,82,0,Personal Auto,393.600000,Four-Door Car
3,KX23516,California,4455.843406,High School or Below,F,0,121,0,Personal Auto,699.615192,SUV
4,FN77294,California,7704.958480,High School or Below,M,30366,101,2,Personal Auto,484.800000,SUV
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,23405.987980,Bachelor,M,71941,73,0,Personal Auto,198.234764,Four-Door Car
7066,PK87824,California,3096.511217,College,F,21604,79,0,Corporate Auto,379.200000,Four-Door Car
7067,TD14365,California,8163.890428,Bachelor,M,0,85,3,Corporate Auto,790.784983,Four-Door Car
7068,UP19263,California,7524.442436,College,M,21941,96,0,Personal Auto,691.200000,Four-Door Car
7069,Y167826,California,2611.836866,College,M,0,77,0,Corporate Auto,369.600000,Two-Door Car

In [6]:
#Show the DataFrame's shape.
print(file1.shape)
print(file2.shape)
print(file3.shape)

(4008, 11)
(996, 11)
(7070, 11)

In [8]:
#Standardize header names.
file1.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [9]:
file2.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [10]:
file3.columns

Index(['Customer', 'State', 'Customer Lifetime Value', 'Education', 'Gender',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Total Claim Amount', 'Vehicle Class'],
      dtype='object')

In [11]:
file1 = file1.rename(columns={'ST':'State',
                           'GENDER':'Gender'})
file2 = file2.rename(columns={'ST':'State',
                           'GENDER':'Gender'})

In [12]:
file1.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [13]:
file2.columns

Index(['Customer', 'State', 'Gender', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Total Claim Amount', 'Policy Type', 'Vehicle Class'],
      dtype='object')

In [14]:
#Concatenate the three dataframes

data = pd.concat([file1, file2,file3], axis=0)
data

,Customer,State,Gender,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,Bachelor,23405.98798,71941.0,73.0,0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,F,College,3096.511217,21604.0,79.0,0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [16]:
#Rearrange the columns in the dataframe as needed

data = data[['Customer', 'State', 'Gender', 'Income', 'Customer Lifetime Value', 'Monthly Premium Auto',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount', 'Number of Open Complaints', 'Education']]
data

,Customer,State,Gender,Income,Customer Lifetime Value,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount,Number of Open Complaints,Education
0,RB50392,Washington,NaN,0.0,NaN,1000.0,Personal Auto,Four-Door Car,2.704934,1/0/00,Master
1,QZ44356,Arizona,F,0.0,697953.59%,94.0,Personal Auto,Four-Door Car,1131.464935,1/0/00,Bachelor
2,AI49188,Nevada,F,48767.0,1288743.17%,108.0,Personal Auto,Two-Door Car,566.472247,1/0/00,Bachelor
3,WW63253,California,M,0.0,764586.18%,106.0,Corporate Auto,SUV,529.881344,1/0/00,Bachelor
4,GA49547,Washington,M,36357.0,536307.65%,68.0,Personal Auto,Four-Door Car,17.269323,1/0/00,High School or Below
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,71941.0,23405.98798,73.0,Personal Auto,Four-Door Car,198.234764,0,Bachelor
7066,PK87824,California,F,21604.0,3096.511217,79.0,Corporate Auto,Four-Door Car,379.200000,0,College
7067,TD14365,California,M,0.0,8163.890428,85.0,Corporate Auto,Four-Door Car,790.784983,3,Bachelor
7068,UP19263,California,M,21941.0,7524.442436,96.0,Personal Auto,Four-Door Car,691.200000,0,College
7069,Y167826,California,M,0.0,2611.836866,77.0,Corporate Auto,Two-Door Car,369.600000,0,College

In [17]:
#Which columns are numerical?
data._get_numeric_data()

       Income  Monthly Premium Auto  Total Claim Amount
0         0.0                1000.0            2.704934
1         0.0                  94.0         1131.464935
2     48767.0                 108.0          566.472247
3         0.0                 106.0          529.881344
4     36357.0                  68.0           17.269323
...       ...                   ...                 ...
7065  71941.0                  73.0          198.234764
7066  21604.0                  79.0          379.200000
7067      0.0                  85.0          790.784983
7068  21941.0                  96.0          691.200000
7069      0.0                  77.0          369.600000

[12074 rows x 3 columns]

In [22]:
#Which columns are categorical?
data.dtypes

Customer                      object
State                         object
Gender                        object
Income                       float64
Customer Lifetime Value       object
Monthly Premium Auto         float64
Policy Type                   object
Vehicle Class                 object
Total Claim Amount           float64
Number of Open Complaints     object
Education                     object
dtype: object

In [25]:
data.select_dtypes(['object'])

,Customer,State,Gender,Customer Lifetime Value,Policy Type,Vehicle Class,Number of Open Complaints,Education
0,RB50392,Washington,NaN,NaN,Personal Auto,Four-Door Car,1/0/00,Master
1,QZ44356,Arizona,F,697953.59%,Personal Auto,Four-Door Car,1/0/00,Bachelor
2,AI49188,Nevada,F,1288743.17%,Personal Auto,Two-Door Car,1/0/00,Bachelor
3,WW63253,California,M,764586.18%,Corporate Auto,SUV,1/0/00,Bachelor
4,GA49547,Washington,M,536307.65%,Personal Auto,Four-Door Car,1/0/00,High School or Below
...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,23405.98798,Personal Auto,Four-Door Car,0,Bachelor
7066,PK87824,California,F,3096.511217,Corporate Auto,Four-Door Car,0,College
7067,TD14365,California,M,8163.890428,Corporate Auto,Four-Door Car,3,Bachelor
7068,UP19263,California,M,7524.442436,Personal Auto,Four-Door Car,0,College
7069,Y167826,California,M,2611.836866,Corporate Auto,Two-Door Car,0,College

In [ ]:
#Understand the meaning of all columns
# A, ok

In [ ]:
# Perform the data cleaning operations mentioned so far in class

In [27]:
data.isnull().values.any() # verify if any value is null
data.isnull().sum() # display summary of null values per column

Customer                     2937
State                        2937
Gender                       3059
Income                       2937
Customer Lifetime Value      2944
Monthly Premium Auto         2937
Policy Type                  2937
Vehicle Class                2937
Total Claim Amount           2937
Number of Open Complaints    2937
Education                    2937
dtype: int64

In [40]:
#data.dropna(how='all')     #drop only if ALL columns are NaN
# option 2:

#Don't drop, just take the rows where 'Customer' is NaN:
data = data[data['Customer'].notna()]
data

,Customer,State,Gender,Income,Customer Lifetime Value,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount,Number of Open Complaints,Education
0,RB50392,Washington,NaN,0.0,NaN,1000.0,Personal Auto,Four-Door Car,2.704934,1/0/00,Master
1,QZ44356,Arizona,F,0.0,697953.59%,94.0,Personal Auto,Four-Door Car,1131.464935,1/0/00,Bachelor
2,AI49188,Nevada,F,48767.0,1288743.17%,108.0,Personal Auto,Two-Door Car,566.472247,1/0/00,Bachelor
3,WW63253,California,M,0.0,764586.18%,106.0,Corporate Auto,SUV,529.881344,1/0/00,Bachelor
4,GA49547,Washington,M,36357.0,536307.65%,68.0,Personal Auto,Four-Door Car,17.269323,1/0/00,High School or Below
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,M,71941.0,23405.98798,73.0,Personal Auto,Four-Door Car,198.234764,0,Bachelor
7066,PK87824,California,F,21604.0,3096.511217,79.0,Corporate Auto,Four-Door Car,379.200000,0,College
7067,TD14365,California,M,0.0,8163.890428,85.0,Corporate Auto,Four-Door Car,790.784983,3,Bachelor
7068,UP19263,California,M,21941.0,7524.442436,96.0,Personal Auto,Four-Door Car,691.200000,0,College
7069,Y167826,California,M,0.0,2611.836866,77.0,Corporate Auto,Two-Door Car,369.600000,0,College

In [41]:
data.isnull().sum() # display summary of null values per column

Customer                       0
State                          0
Gender                       122
Income                         0
Customer Lifetime Value        7
Monthly Premium Auto           0
Policy Type                    0
Vehicle Class                  0
Total Claim Amount             0
Number of Open Complaints      0
Education                      0
dtype: int64

In [45]:
data['Gender'].unique()
data['Gender'].value_counts() #how many are there of each

F         4560
M         4368
Male        40
female      30
Femal       17
Name: Gender, dtype: int64

In [46]:
data['Gender'] = data['Gender'].fillna('F')
len(data[data['Gender'].isna()==True]) # now this number is 0

C:\Users\mfduh\AppData\Local\Temp\ipykernel_34704\1113241345.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Gender'] = data['Gender'].fillna('F')

0

In [53]:
data['Gender'].unique()
data.isnull().sum() # display summary of null values per column
data['state'].unique()data['Gender'].value_counts() #how many are there of each

F         4682
M         4368
Male        40
female      30
Femal       17
Name: Gender, dtype: int64

In [56]:
def clean(x):
    if x in ['M', 'Male']:
        return 'Male'
    elif x in ['F', 'Femal','female']:
        return 'Female'
    else:
        return 'U'
    
data['Gender'] = list(map(clean, data['Gender']))
data['Gender'].unique()

C:\Users\mfduh\AppData\Local\Temp\ipykernel_34704\4134119184.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Gender'] = list(map(clean, data['Gender']))

array(['Female', 'Male'], dtype=object)

In [57]:
data

,Customer,State,Gender,Income,Customer Lifetime Value,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount,Number of Open Complaints,Education
0,RB50392,Washington,Female,0.0,NaN,1000.0,Personal Auto,Four-Door Car,2.704934,1/0/00,Master
1,QZ44356,Arizona,Female,0.0,697953.59%,94.0,Personal Auto,Four-Door Car,1131.464935,1/0/00,Bachelor
2,AI49188,Nevada,Female,48767.0,1288743.17%,108.0,Personal Auto,Two-Door Car,566.472247,1/0/00,Bachelor
3,WW63253,California,Male,0.0,764586.18%,106.0,Corporate Auto,SUV,529.881344,1/0/00,Bachelor
4,GA49547,Washington,Male,36357.0,536307.65%,68.0,Personal Auto,Four-Door Car,17.269323,1/0/00,High School or Below
...,...,...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,Male,71941.0,23405.98798,73.0,Personal Auto,Four-Door Car,198.234764,0,Bachelor
7066,PK87824,California,Female,21604.0,3096.511217,79.0,Corporate Auto,Four-Door Car,379.200000,0,College
7067,TD14365,California,Male,0.0,8163.890428,85.0,Corporate Auto,Four-Door Car,790.784983,3,Bachelor
7068,UP19263,California,Male,21941.0,7524.442436,96.0,Personal Auto,Four-Door Car,691.200000,0,College
7069,Y167826,California,Male,0.0,2611.836866,77.0,Corporate Auto,Two-Door Car,369.600000,0,College

In [58]:
# Delete the column education and the number of open complaints from the dataframe.
data = data.drop(['Education','Number of Open Complaints'], axis=1)
data

,Customer,State,Gender,Income,Customer Lifetime Value,Monthly Premium Auto,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,Female,0.0,NaN,1000.0,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,Female,0.0,697953.59%,94.0,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,Female,48767.0,1288743.17%,108.0,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,Male,0.0,764586.18%,106.0,Corporate Auto,SUV,529.881344
4,GA49547,Washington,Male,36357.0,536307.65%,68.0,Personal Auto,Four-Door Car,17.269323
...,...,...,...,...,...,...,...,...,...
7065,LA72316,California,Male,71941.0,23405.98798,73.0,Personal Auto,Four-Door Car,198.234764
7066,PK87824,California,Female,21604.0,3096.511217,79.0,Corporate Auto,Four-Door Car,379.200000
7067,TD14365,California,Male,0.0,8163.890428,85.0,Corporate Auto,Four-Door Car,790.784983
7068,UP19263,California,Male,21941.0,7524.442436,96.0,Personal Auto,Four-Door Car,691.200000
7069,Y167826,California,Male,0.0,2611.836866,77.0,Corporate Auto,Two-Door Car,369.600000

In [ ]:
# Correct the values in the column customer lifetime value.
# They are given as a percent, so multiply them by 100 and change dtype to numerical type.

In [ ]:
# Not finished

In [82]:
# Check for duplicate rows in the data and remove if any.
data.duplicated('Customer').sum()
#data = data.drop_duplicates(subset=['Customer'],keep='last')

81

In [84]:
data = data.drop_duplicates('Customer',keep='first')

In [85]:
data.duplicated('Customer').sum()

0

In [87]:
# Filter out the data for customers who have an income of 0 or less.

In [91]:
income_0 =  data['Income']==0
income_0

0        True
1        True
2       False
3        True
4       False
        ...
7065    False
7066    False
7067     True
7068    False
7069     True
Name: Income, Length: 9056, dtype: bool

In [ ]:
# Not finished


def income_1(y):
    if y in ['Income'] >= 0:
        return 'Male'
    elif x in ['F', 'Femal','female']:
        return 'Female'
    else:
        return 'U'
    
data['Gender'] = list(map(clean, data['Gender']))
data['Gender'].unique()